#### Import Necessary Libraries

In [60]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
import seaborn as sns

adbCodes=pd.read_csv(os.path.join(os.getcwd(),"data","ADB_CountryCodes.csv"))
NewData=adbCodes[['name','ISO','ADB_DEP','TE_Name','CurrencyCode']].copy()

#### Download Currency data from Trading Economics

In [61]:
#Set Necessary headers to read data
headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/88.0.4324.182 Safari/537.36"}
NewData[['currency_Price','currency_YOYChange','currency_Date']]=""
for i in range(0,NewData.shape[0]):
    URL="https://tradingeconomics.com/"+NewData['TE_Name'].iloc[i]+"/currency"
    response=requests.get(URL,headers=headers)
    soup=BeautifulSoup(response.content,'html.parser')
    tables=soup.find_all('table','table')
    if len(tables)>2:
        df1=pd.read_html(str(tables[1]))[0]
        if 'Crosses' in list(df1.columns):
            NewData['currency_Price'].iloc[i]=float(df1[df1['Crosses']=="USD"+NewData['CurrencyCode'].iloc[i]]['Price'])
            NewData['currency_YOYChange'].iloc[i]=df1[df1['Crosses']=="USD"+NewData['CurrencyCode'].iloc[i]]['Year'][0]
            NewData['currency_Date'].iloc[i]=df1[df1['Crosses']=="USD"+NewData['CurrencyCode'].iloc[i]]['Date'][0]

#### Download Inflation, Change in Interest Rate and CPI Change Data from Trading Economics

In [63]:
NewData.tail()

,name,ISO,ADB_DEP,TE_Name,CurrencyCode,currency_Price,currency_YOYChange,currency_Date
41,Philippines,PHL,SERD,Philippines,PHP,52.93,10.73%,Jun/07
42,Singapore,SGP,SERD,Singapore,SGD,1.3778,4.06%,Jun/07
43,Thailand,THA,SERD,Thailand,THB,34.42,10.32%,Jun/07
44,Timor-Leste,TLS,SERD,Timor-Leste,USD,,,
45,Viet Nam,VNM,SERD,Vietnam,VND,23185.0,1.02%,Jun/07